*{
    margin: 0 0 0 0;

    }


nav {
	margin: 25px auto 0;

	position: relative;
	width: 1000px;
	height: 55px;
	background-color: #ffffffd0;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 25px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: rgb(0, 0, 0);
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 200px;
}
a:nth-child(2) {
	width: 200px;
}
a:nth-child(3) {
	width: 200px;
}
a:nth-child(4) {
	width: 200px;
}
a:nth-child(5) {
	width: 200px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 200px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 200px;
	left: 200px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 200px;
	left: 400px;
	background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 200px;
	left: 600px;
	background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 200px;
	left: 800px;
	background-color: #e622cf;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background: #2f9300;
	background-image: url(immagini/forest-272595.jpg) ;
	background-repeat: no-repeat;
	background-size: 100% 120%;
}


#social {
    position: relative;
    height: 100px; 
    
  }
  
  .icones {
    width: 50px; 
    height: 50px; 
    position: absolute;
    top: -50%;
  }
  
  #face {
    right: 0;
    margin-right: 30px;
    transition: 800ms;
  }
  
  #ista{margin-left: 30px;transition: 800ms;}

#ista:hover{width: 70px;height: 70px;}

#face:hover{width: 70px;height: 70px;}



.white{background-color: rgba(255, 255, 255, 0.801);text-align: center;border-radius: 10%;margin: 105px;}

.white{   width: 1000px;
	height: 1000px;
	border: 1px solid black;}

#testi{display: flex; 
	justify-content: center;
	margin-top: 10px;}


#et{font-size: 35px;}

#termine{font-size: 23px; text-align: left;margin-left: 15px;margin-right: 15px;}

#pane1 {display: flex;
	justify-content: center;
	margin-top: 10px;

	}



.img1{width: 300px;height: auto;margin: 25px; border-radius: 30%;border: 6px solid rgba(255, 255, 255, 0.627);transition: 800ms;}


@media screen and (max-width: 1200px) {


    .icones{top: 50%;width: 100px;height: 100px;}
    nav{height: 60px;}
    #ista:hover{width: 150px;height: 150px;}
    #face:hover{width: 150px;height: 150px;}
	.white{margin-right: 0% ;margin-left: 0%;margin-top: 70px;}
	body {background-image: none;}
	#pane1{display: flex;flex-direction: column; align-items: center;}
	.img1{width: 100%;height: auto;}
	.white{border-radius: 0%;}
}
